.App {
  display:flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
  /* flex-direction: column; */
  width: 100%;
  margin: 50px;
  
}

h2{
  justify-content: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.user {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #b6d8bd;
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width: 350px;
  height: 200px;
  margin: 20px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 20px;

}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}